$lighter-grey: #fafafa;
$middle-grey: #f3f3f3;
$darker-grey: #424242;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$general-shadow: 0px 3px 8px rgba(0,0,0,0.2);
$font-after-icons: 900;

@import "libs/mixins.scss";

    
body{

    font-family: Roboto;
    font-size: 1rem;
    width: 100%;
    margin: 0;
}


.logo{

    font-family: Shrikhand;
    font-size: 1em;
    line-height: 0;
    
    &__banner {
        text-align: center;
        color: black;
    }

    &__footer {
        text-align: start;
        color: white;
    }
}

#heading{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{

    z-index: 99;
    box-shadow: $general-shadow;
    width: 100%;

}

footer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #292B2C;
}

.footer__elements{

    margin-left: 5%;
    line-height: 0px;

}


.footer__list{
    display: flex;
    flex-direction: column;
    color: white;
    list-style: none;
    padding: 0;
    font-weight: 450;

    &--element{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5px;
        list-style: none;
    }
}