$lighter-grey: #fafafa;
$middle-grey: #f3f3f3;
$darker-grey: #424242;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$font-after-icons: 900;
$colour-logo: black;

@import "libs/mixins.scss";


h2, h3, h4, p{

    font-family: Roboto;
    font-size: 1rem;
}


.logo{

    font-family: Shrikhand;
    text-align: center;
    font-size: 1.5em;
    
    &__footer {
        text-align: start;
        color: white;
        font-family: Shrikhand;
    }
}



#heading{

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{

    z-index: 1;
    box-shadow: 0px 5px 3px -3px #656565;
    width: 100%;

}


.localisation{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background: $middle-grey;
    width: 100%;
    font-weight: $font-after-icons;
    color: $darker-grey;

}

.head-2{
    
    padding: 30px 0px 30px;
    text-align: center;
    background: $lighter-grey;

        &__p{
            
        font-weight: 300;
        }
        &__h2{

            font-weight: 900;
        }
        &__button .btn{

        border-radius: 30px;
        background: rgb(147,86,220);
        background: linear-gradient(351deg, rgba(147,86,220,1) 49%, rgba(255,121,218,1) 100%);
        color: white;
        outline: none;
        border: none;
        font-family: Roboto;
        font-weight: 500;
        }
}

ol.fonctionnement__steps {
    list-style: none;
    display: block;
    padding: 0;
    counter-reset: my-counter;

  }
  
ol.fonctionnement__steps li.fonctionnement__step {
    counter-increment: my-counter;
  }
  
  ol.fonctionnement__steps li.fonctionnement__step::before {
    content: counter(my-counter) ;
    display: block;
    position: relative;
    right:10px;
    background: rgb(147,86,220);
    background: linear-gradient(351deg, rgba(147,86,220,1) 49%, rgba(255,121,218,1) 100%);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em
  }
  
  ol.fonctionnement__steps{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  li.fonctionnement__step{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    background-color: #fff;
    margin: 9px;
    border-radius: 50px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  }

  li.fonctionnement__step p{
      font-size: 0.9em;
  }



  .restaurant__lists{
      display: flex;
      flex-direction: column;
      row-gap: 1em;
  }

  .restaurant__list{
      display: flex;
      flex-direction: column;
      border-radius: 1rem 1rem 1rem 1rem;
      background-color: $middle-grey;
        img{
            object-fit: cover;
            height: 8rem;
            border-radius: 1rem 1rem 0rem 0rem;
        }
  }

.list__isnew{
    position: absolute;
    left: 75%;
    margin-top: 17px;
    padding: 10px;
    font-family: Roboto;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 3px;
    color: darken($tertiary-color, 40% );
    background: $tertiary-color;
    -webkit-box-shadow: 0px 0px 17px 11px rgba(0,0,0,0.17);
    -moz-box-shadow: 0px 0px 17px 11px rgba(0,0,0,0.17);
    box-shadow: 0px 0px 17px 11px rgba(0,0,0,0.17);
    
}
  .list__desc{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: flex-start;
      margin : 20px ;
      
      &--text h3, p{
        margin: 0px;
        }

      &--heart{
          font-size: 1.5rem;
        }

      
  }


footer{
    background-color: rgb(29, 29, 29);

    & p{
color: white;
    }

}

.footer__list.ol{
list-style: none;
}