@import "//base/general.scss";
@import "//utils/mixins.scss";
@import "//pages/pagemenu";
/* check test */
/*@mixin transition-delay {
    transition-delay: 0s, 1500ms;
}*/
@import "//main.scss";
@import '//main.scss';
@import "//main.scss";
body {
  font-family: Roboto;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: Shrikhand;
  font-size: 1em;
  line-height: 0;
}
.logo__banner {
  text-align: center;
  color: black;
}
.logo__footer {
  text-align: start;
  color: white;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  z-index: 99;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #292B2C;
}

.footer__elements {
  margin-left: 5%;
  line-height: 0px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0;
  font-weight: 450;
}
.footer__list--element {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

.illustration img {
  object-fit: cover;
  height: 15rem;
  width: 100%;
  z-index: 0;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-arrow-left {
  position: relative;
  right: 70px;
}

.restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand;
  margin: 0px 20px 0px 20px;
  padding-top: 20px;
  line-height: 0;
}

#corpus {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f3f3f3;
  margin-top: -50px;
  position: relative;
  z-index: 98;
}

.container__plats {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 15px;
}

.container__title h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8em;
  font-family: Roboto, Serif;
  line-height: 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #99E2D0;
  display: inline-block;
  padding-bottom: 10px;
  font-family: sans-serif;
  width: 40px;
}

.container__plat {
  background-color: white;
  padding: 2px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 3px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  /*transition: transform  $trans-dur cubic-bezier(0, .75, .08, 1) ease-in-out;*/
  transform: translateY(-20px);
  transition: transform 1000ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  /*@include transition-delay;*/
}
.container__plat--description {
  margin-left: 10px;
}
.container__plat h3 {
  font-size: 0.7em;
}
.container__plat p {
  font-size: 0.6em;
}
.container__plat--price {
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.3em;
  color: #424242;
}

.corpus__btn--command:nth-of-type(1) {
  border-radius: 30px;
  background: linear-gradient(345deg, #9356dc 35%, #ff79da 91%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  color: white;
  outline: none;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 40px;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
}

body {
  font-family: Roboto;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

.logo {
  font-family: Shrikhand;
  font-size: 1em;
  line-height: 0;
}
.logo__banner {
  text-align: center;
  color: black;
}
.logo__footer {
  text-align: start;
  color: white;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  z-index: 1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.localisation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background: #f3f3f3;
  width: 100%;
  font-weight: 900;
  color: #424242;
}

.head-2 {
  padding: 30px 0px 30px;
  text-align: center;
  background: #fafafa;
}
.head-2__p {
  font-weight: 300;
}
.head-2__h2 {
  font-weight: 900;
}
.head-2__button .btn {
  border-radius: 30px;
  background: linear-gradient(345deg, #9356dc 35%, #ff79da 91%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  color: white;
  outline: none;
  border: none;
  font-family: Roboto;
  font-weight: 600;
  border-radius: 40px;
}

#fonctionnement, #restaurants {
  margin: 10px;
}

ol.fonctionnement__steps {
  list-style: none;
  display: block;
  padding: 0;
  counter-reset: my-counter;
}

ol.fonctionnement__steps li.fonctionnement__step {
  counter-increment: my-counter;
}

ol.fonctionnement__steps li.fonctionnement__step::before {
  content: counter(my-counter);
  display: block;
  position: relative;
  right: 10px;
  background: #9356DC;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}

ol.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li.fonctionnement__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  background-color: #fff;
  margin: 9px;
  border-radius: 50px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
}

.i.fas.fa-mobile-alt {
  align-items: stretch;
}

li.fonctionnement__step p {
  font-size: 0.9em;
}

.restaurant__lists {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.restaurant__list {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #f3f3f3;
  text-decoration: none;
  color: black;
}
.restaurant__list img {
  object-fit: cover;
  height: 8rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.list__isnew {
  position: absolute;
  left: 75%;
  margin-top: 17px;
  padding: 10px;
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 3px;
  color: #278870;
  background: #99E2D0;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.list__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}
.list__desc--text h3, .list__desc p {
  margin: 0px;
}
.list__desc--heart {
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #292B2C;
}

.footer__elements {
  margin-left: 5%;
  line-height: 0px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0;
  font-weight: 450;
}
.footer__list--element {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
