@charset "UTF-8";
@import "//sass/base/general.scss";
@import "//sass/pages/pagemenu";
/* check test */
@import "//sass/main.scss";
@import '//sass/main.scss';
@import "//main.scss";
body {
  font-family: Roboto;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  font-family: Shrikhand;
  font-size: 1em;
  line-height: 0;
}
.logo__banner {
  text-align: center;
  color: black;
}
.logo__footer {
  text-align: start;
  color: white;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  z-index: 99;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #292B2C;
  width: 100%;
}

.footer__elements {
  margin-left: 5%;
  line-height: 2em;
}

.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0;
  font-weight: 450;
}
.footer__list--element {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

.illustration {
  height: 15rem;
  width: 100%;
}
.illustration img {
  object-fit: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-arrow-left {
  position: relative;
  right: 70px;
  color: black;
}

/* a modifier plus tard soucis de chemin entre les différents fichiers

 */
.top-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
}

.restaurant__btn {
  font-size: 2em;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: inherit;
}
.restaurant__btn--empty {
  color: black;
  position: absolute;
  z-index: 1;
  font-size: 1em;
}
.restaurant__btn--empty:hover {
  opacity: 0;
}
.restaurant__btn--full {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
  font-size: 1em;
}
.restaurant__btn--full:hover {
  opacity: 1;
  transition: opacity 100ms;
}

.restaurant__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Shrikhand;
  line-height: 0;
}

/* Jusqu'ici !!!!!!!
!!!!!!!!!!!!!
 */
#corpus {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f3f3f3;
  margin-top: -50px;
  position: relative;
  z-index: 98;
}

.container__plats {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin: 15px;
}

.container__title h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8em;
  font-family: Roboto, Serif;
  line-height: 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #99E2D0;
  display: inline-block;
  padding-bottom: 10px;
  font-family: sans-serif;
  width: 40px;
}

.container__plat {
  background-color: white;
  padding: 2px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 3px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-20px);
  transition: transform 2000ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}
.container__plat--description {
  margin-left: 10px;
  width: 60%;
}
.container__plat h3 {
  font-size: 0.7em;
}
.container__plat p {
  font-size: 0.6em;
}
.container__plat--price {
  margin-right: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #424242;
}
.container__plat i {
  width: 10%;
  color: #99E2D0;
}

.corpus__btn--command:nth-of-type(1) {
  border-radius: 30px;
  background: linear-gradient(171deg, #9356dc 0%, #ff79da 90%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  color: white;
  outline: non;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 40px;
  opacity: 1;
  align-self: center;
  text-align: center;
  margin-bottom: 15px;
}
.corpus__btn--command:nth-of-type(1):hover {
  background: linear-gradient(171deg, #9356dc 0%, #ff79da 90%);
  opacity: 0.7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

/* test du truc qui apparait sur la droite */
.iconturn:focus.fa-check-circle {
  background: pink;
  transform: rotate(-1turn);
  transition: transform 500ms ease-in-out;
}

body {
  font-family: Roboto;
  font-size: 1rem;
  width: 100%;
  margin: 0;
}

.logo {
  font-family: Shrikhand;
  font-size: 1em;
  line-height: 0;
}
.logo__banner {
  text-align: center;
  color: black;
}
.logo__footer {
  text-align: start;
  color: white;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  z-index: 1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.localisation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background: #f3f3f3;
  width: 100%;
  font-weight: 900;
  color: #424242;
}

.head-2 {
  padding: 30px 0px 30px;
  text-align: center;
  background: #fafafa;
}
.head-2__p {
  font-weight: 300;
}
.head-2__h2 {
  font-weight: 900;
}
.head-2__button .btn {
  border-radius: 30px;
  background: linear-gradient(171deg, #9356dc 0%, #ff79da 90%);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  color: white;
  outline: non;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  border-radius: 40px;
  opacity: 1;
}
.head-2__button .btn:hover {
  background: linear-gradient(171deg, #9356dc 0%, #ff79da 90%);
  opacity: 0.7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

#fonctionnement, #restaurants {
  margin: 10px;
}

ol.fonctionnement__steps {
  list-style: none;
  display: block;
  padding: 0;
  counter-reset: my-counter;
}

ol.fonctionnement__steps li.fonctionnement__step {
  counter-increment: my-counter;
}

ol.fonctionnement__steps li.fonctionnement__step::before {
  content: counter(my-counter);
  display: block;
  position: relative;
  right: 10px;
  background: #9356DC;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  width: 1.6em;
}

ol.fonctionnement__steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li.fonctionnement__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  background-color: #fff;
  margin: 9px;
  border-radius: 50px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  font-family: Roboto;
}
li.fonctionnement__step:hover {
  background: linear-gradient(171deg, #9356dc 0%, #ff79da 90%);
  color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
}

.i.fas.fa-mobile-alt {
  align-items: stretch;
}

li.fonctionnement__step p {
  font-size: 0.9em;
}

.restaurant__lists {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.restaurant__list {
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: #f3f3f3;
  text-decoration: none;
  color: black;
}
.restaurant__list img {
  object-fit: cover;
  height: 8rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.list__isnew {
  position: absolute;
  left: 75%;
  margin-top: 17px;
  padding: 10px;
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 3px;
  color: #278870;
  background: #99E2D0;
  -webkit-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.list__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
}
.list__desc--text h3, .list__desc p {
  margin: 0px;
}
.list__desc--heart {
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #292B2C;
}

.footer__elements {
  margin-left: 5%;
  line-height: 0px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0;
  font-weight: 450;
}
.footer__list--element {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

.footer__elements {
  margin-left: 5%;
  line-height: 2em;
}

/*# sourceMappingURL=style.css.map */
