@import '//main.scss';

.illustration img{
    object-fit: cover;
    height: 15rem;
    width: 100%;
    z-index: 0;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-arrow-left{
    position:relative;
    right: 70px;
}

.restaurant__name{

    @include restaurant-name;
}

#corpus{

    @include corpus-style;;
}


.container__plats{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 15px;
}

.container__title h3{
    @include container-title-h3;
}

.container__plat{
    @include container-plat;
    @include animation-testApparence;
    /*@include transition-delay;*/
        &--description{
            margin-left: 10px;
    }
            & h3{
                font-size: 0.7em;
            }
                & p{
                    font-size: 0.6em;
                }
                    &--price{
                        margin-right: 10px;
                        font-weight: bold;
                        font-size: 1.3em;
                        color: $darker-grey;
                    }

}

.corpus__btn--command:nth-of-type(1){

        @include button-colored;
        align-self: center;
        text-align: center;
        margin-bottom: 15px;
}