@import '//sass/main.scss';

.illustration {
    height: 15rem;
    width: 100%;

    & img{
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
}
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-arrow-left{
    position:relative;
    right: 70px;
    color:black;
}

/* a modifier plus tard soucis de chemin entre les différents fichiers

 */
.top-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin : 0px 10px 0px 10px;
    padding-top: 20px;
}

.restaurant__btn{

    @include heart__button;
}

.restaurant__name{

    @include restaurant-name;
}
/* Jusqu'ici !!!!!!!
!!!!!!!!!!!!!
 */

#corpus{

    @include corpus-style;
}


.container__plats{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 15px;
}

.container__title h3{
    @include container-title-h3;
}

.container__plat{

    @include container-plat;
    @include animation-testApparence;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
        &--description{
            margin-left: 10px;
            width: 60%;
    }
            & h3{
                font-size: 0.7em;
            }
                & p{
                    font-size: 0.6em;
                }
                    &--price{
                        margin-right: 0px;
                        text-align: center;
                        font-weight: bold;
                        font-size: 1.3em;
                        color: $darker-grey;
                    }
                        & i{
                            width: 10%;
                            color: $tertiary-color;
                        }

}

.corpus__btn--command:nth-of-type(1){

        @include button-colored;
        align-self: center;
        text-align: center;
        margin-bottom: 15px;
}

/* test du truc qui apparait sur la droite */
.iconturn:focus{
    &.fa-check-circle {
        background: pink;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}