$lighter-grey: #fafafa;
$middle-grey: #f3f3f3;
$darker-grey: #424242;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$general-shadow: 0px 3px 8px rgba(0,0,0,0.2);
$font-after-icons: 900;
