
@mixin restaurant-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Shrikhand;
    line-height: 0;
}

@mixin corpus-style{

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $middle-grey;
    margin-top: -50px;
    position: relative;
    z-index: 98;

    @include responsive-largescreen{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
}

@mixin container-title-h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8em;
    font-family: Roboto, Serif;
    line-height: 0;
    margin-bottom: 0px;
    border-bottom: 3px solid $tertiary-color;
    display: inline-block;
    padding-bottom: 10px;
    font-family: sans-serif;
    width: 40px;
    @include responsive-largescreen{
        font-size: 1em;
    }
}

@mixin container-plat{
    background-color: white;
    padding: 0;
    border-radius: 9px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    line-height:100%;
    box-sizing: border-box;
    box-shadow: $general-shadow;
    }

@mixin button-colored {
    border-radius: 30px;
    background: $gradient;
    box-shadow: $general-shadow;
    color: white;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    opacity: 1;
        &:hover{
            background: $gradient;
            opacity: 0.7;
            box-shadow: $general-shadow-accentued;
        }
}

@mixin heart__button {
    font-size: 2em;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    display: inherit;
        &--empty{
            color: black;
            position: absolute;
            z-index: 1;
            font-size: 1em;
                &:hover{
                    opacity: 0; 

                }
            }
        &--full{
            opacity: 0;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 2;
            font-size: 1em;
          
                &:hover{

                    opacity: 1;
                    transition: opacity 1000ms;
                    
                }
        }

}

@mixin responsive-largescreen{
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin responsive-midscreen{
    @media screen and (min-width: 767px) and (max-width: 1024px){
        @content;
    }
}
