
@mixin restaurant-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Shrikhand;
    line-height: 0;
}

@mixin corpus-style{

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $middle-grey;
    margin-top: -50px;
    position: relative;
    z-index: 98;
}

@mixin container-title-h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8em;
    font-family: Roboto, Serif;
    line-height: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid $tertiary-color;
    display: inline-block;
    padding-bottom: 10px;
    font-family: sans-serif;
    width: 40px;
}

@mixin container-plat{
    background-color: white;
    padding: 2px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    line-height:3px;
    box-shadow: $general-shadow;
    }

@mixin button-colored {
    border-radius: 30px;
    background: $gradient;
    box-shadow: $general-shadow;
    color: white;
    outline: non;
    border: none;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 40px;
    opacity: 1;
        &:hover{
            background: $gradient;
            opacity: 0.7;
            box-shadow: $general-shadow-accentued;
        }
}

@mixin heart__button {
    font-size: 2em;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    display: inherit;
        &--empty{
            color: black;
            position: absolute;
            z-index: 1;
            font-size: 1em;
                &:hover{
                    opacity: 0; 

                }
            }
        &--full{
            opacity: 0;
            background: -webkit-gradient(linear, left top, left bottom, from($primary-color), to($secondary-color));
            -webkit-background-clip: text;
            background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -webkit-text-fill-color: transparent;
            z-index: 2;
            font-size: 1em;
                &:hover{

                    opacity: 1;
                    transition: opacity 100ms;
                }
        }

}
