$lighter-grey: #fafafa;
$middle-grey: #f3f3f3;
$darker-grey: #424242;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$general-shadow: rgba(0,0,0,0.2) 0px 3px 8px;
$font-after-icons: 900;
$trans-dur: 1000ms;


@mixin restaurant-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Shrikhand;
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
    line-height: 0;
}

@mixin corpus-style{

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: $middle-grey;
    margin-top: -50px;
    position: relative;
    z-index: 98;
}

@mixin container-title-h3{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.8em;
    font-family: Roboto, Serif;
    line-height: 0;
    margin-bottom: 20px;
    border-bottom: 3px solid $tertiary-color;
    display: inline-block;
    padding-bottom: 10px;
    font-family: sans-serif;
    width: 40px;
}

@mixin container-plat{
    background-color: white;
    padding: 2px;
    border-radius: 9px;
    display: flex;
    flex-direction: row;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    line-height:3px;
    box-shadow: $general-shadow;
    }

@mixin button-colored {
    border-radius: 30px;
    background: linear-gradient(345deg, rgba(147,86,220,1) 35%, rgba(255,121,218,1) 91%);
    box-shadow: $general-shadow;
    color: white;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 500;
    border-radius: 40px;
}